// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 SiMa ai
 */

/dts-v1/;
/plugin/;

/ {
	fragment@10 {
		target-path = "/"; /* Root node of the base tree */
		__overlay__ {
			imx678_vana_0: csi0_fixedregulator@0 {
				compatible = "regulator-fixed";
				regulator-name = "imx678_vana_0";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				enable-active-high;
				startup-delay-us = <300000>;
				regulator-always-on;
			};
			imx678_vdig_0: csi0_fixedregulator@1 {
				compatible = "regulator-fixed";
				regulator-name = "imx678_vdig_0";
				regulator-min-microvolt = <110000>;
				regulator-max-microvolt = <110000>;
				regulator-always-on;
			};
			imx678_vddl_0: csi0_fixedregulator@2 {
				compatible = "regulator-fixed";
				regulator-name = "imx678_vddl_0";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};
			imx678_clk_0: csi0_camera-clk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24000000>;
			};
		};
	};
};

&i2c00 {
	status = "okay";
	clock-frequency = <400000>;
	#address-cells = <1>;
	#size-cells = <0>;
	tca6424_camera_0: tca6424@22 {
		compatible = "ti,tca6424";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
		status = "okay";
	};
	i2c00s0: sensor@42 {
		compatible = "sony,imx678";
		reg = <0x42>;
		clocks = <&imx678_clk_0>;
		clock-names = "xclk";
		VANA-supply = <&imx678_vana_0>;
		VDIG-supply = <&imx678_vdig_0>;
		VDDL-supply = <&imx678_vddl_0>;
		reset-gpios = <&tca6424_camera_0 0 0>;
		boot-gpios = <&tca6424_camera_0 6 0>;
		camera_mipi_lanes = <4>;
		cam_fw_name = "imx678_cam_fw.bin";
		i2c00p0: port@1 {
			camera_0: endpoint@0 {
				remote-endpoint = <&w0vc0>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
				clock-continuous;
				link-frequencies = /bits/ 64 <450000000>;
			};
		};
	};
};

&mipi_dphy_rx0 {
	snps,dphy-frequency = <450000000>;
};

&axi_vdma_vis0 {
	status = "okay";
};

&csi0 {
	status = "okay";
	isp-connected = <1>;
	csi0p0: port@1 {
		reg = <1>;
		w0vc0_to_isp0: endpoint@1 {
			remote-endpoint = <&isp0_to_w0vc0>;
			data-lanes = <1 2 3 4>;
			clock-lanes = <1>;
			clock-continuous;
			link-frequencies = /bits/ 64 <450000000>;
		};
	};
};

&isp {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		isp0p0: port@0 {
			reg = <0>;
			isp0_to_w0vc0: endpoint@0 {
				remote-endpoint = <&w0vc0_to_isp0>;
			};
			w0vc0: endpoint@1 {
				remote-endpoint = <&camera_0>;
				sensor-id = <2>;
			};
		};
	};
};
