// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 SiMa ai
 */

/dts-v1/;
/plugin/;

/ {
	fragment@10 {
		target-path = "/"; /* Root node of the base tree */
		__overlay__ {
			imx678_vana_2: csi2_fixedregulator@0 {
				compatible = "regulator-fixed";
				regulator-name = "imx678_vana_2";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				enable-active-high;
				startup-delay-us = <300000>;
				regulator-always-on;
			};
			imx678_vdig_2: csi2_fixedregulator@1 {
				compatible = "regulator-fixed";
				regulator-name = "imx678_vdig_2";
				regulator-min-microvolt = <110000>;
				regulator-max-microvolt = <110000>;
				regulator-always-on;
			};
			imx678_vddl_2: csi2_fixedregulator@2 {
				compatible = "regulator-fixed";
				regulator-name = "imx678_vddl_2";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
			};
			imx678_clk_2: csi2_camera-clk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24000000>;
			};
		};
	};
};

&i2c02 {
	status = "okay";
	clock-frequency = <400000>;
	#address-cells = <1>;
	#size-cells = <0>;
	tca6424_camera_2: tca6424@22 {
		compatible = "ti,tca6424";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x22>;
		status = "okay";
	};
	i2c02s0: sensor@42 {
		compatible = "sony,imx678";
		reg = <0x42>;
		clocks = <&imx678_clk_2>;
		clock-names = "xclk";
		VANA-supply = <&imx678_vana_2>;
		VDIG-supply = <&imx678_vdig_2>;
		VDDL-supply = <&imx678_vddl_2>;
		reset-gpios = <&tca6424_camera_2 0 0>;
		boot-gpios = <&tca6424_camera_2 6 0>;
		camera_mipi_lanes = <4>;
		cam_fw_name = "imx678_cam_fw.bin";
		i2c02p0: port@1 {
			camera_2: endpoint@0 {
				remote-endpoint = <&w2vc0>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
				clock-continuous;
				link-frequencies = /bits/ 64 <450000000>;
			};
		};
	};
};

&mipi_dphy_rx2 {
	snps,dphy-frequency = <450000000>;
};

&axi_vdma_vis2 {
	status = "okay";
};

&csi2 {
	status = "okay";
	isp-connected = <1>;
	csi2p0: port@1 {
		reg = <1>;
		w2vc0_to_isp2: endpoint@1 {
			remote-endpoint = <&isp2_to_w2vc0>;
			data-lanes = <1 2 3 4>;
			clock-lanes = <1>;
			clock-continuous;
			link-frequencies = /bits/ 64 <450000000>;
		};
	};
};

&isp {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		isp2p0: port@2 {
			reg = <2>;
			isp2_to_w2vc0: endpoint@0 {
				remote-endpoint = <&w2vc0_to_isp2>;
			};
			w2vc0: endpoint@1 {
				remote-endpoint = <&camera_2>;
				sensor-id = <2>;
			};
		};
	};
};
